body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  /* font-size: 90px;  90px/16 = 562.5% 
  (equivalent of 90px) now responsive
  */
  /* font-size: 562.5%; */
  /* font-size: 5.625em; */
  font-size: 5.625rem;
  /* single value without units */
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container-wrapper {
  background-color: #e4f9f5;
}

.top-container {
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  width: 900px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 200px;
  position: absolute;
}

/* .intro-text {
  margin-top: 100px;
  position: relative;
} */

.img-bootstrap {
  /* need to make responsive */
  width: 256px;
}

/* Skills Section  */
.skill-row {
  /* display: inline-block; */
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 49%;
}
