body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  /* get rid of default browser styling */
  border-style: none;
  /* % is better for mobile devices */
  width: 5%;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
}

h1 {
  color: #66bfbf;
  font-family: 'Sacramento', cursive;
  /* font-size: 90px;  90px/16 = 562.5% 
  (equivalent of 90px) now responsive
  */
  /* font-size: 562.5%; */
  /* font-size: 5.625em; */
  font-size: 5.625rem;
  /* single value without units */
  line-height: 2;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container-wrapper {
  background-color: #e4f9f5;
  height: 100vh;
}

.top-container {
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
  width: 900px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  bottom: 400px;
  left: 100px;
  position: absolute;
}

.img-mountain {
  width: 100%;
}

/* .intro-text {
  margin-top: 100px;
  position: relative;
} */

.img-bootstrap {
  /* need to make responsive */
  width: 256px;
}

/* Hello-Section */

.hello-section {
  height: 100vh;
}

.profile {
  padding-top: 50px;
  line-height: 2;
  margin: 100px auto;
  width: 50%;
}

.profile img {
  border-radius: 50%;
}

/* Skills Section  */

.skills {
  background: #f7f7f7;
  height: 100vh;
  padding: 60px;
}

.skill-row {
  /* display: inline-block; */
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.skill-row-2 {
  margin-bottom: 200px;
  padding-top: 50px;
}

.img-html5 {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.img-bootstrap {
  float: right;
  margin-left: 30px;
}

/* Contact Section */

.contact-me {
  line-height: 2;
  padding: 100px;
}

.btn {
  background: #20d4d4;
  background-image: -webkit-linear-gradient(top, #20d4d4, #66bfbf);
  background-image: -moz-linear-gradient(top, #20d4d4, #66bfbf);
  background-image: -ms-linear-gradient(top, #20d4d4, #66bfbf);
  background-image: -o-linear-gradient(top, #20d4d4, #66bfbf);
  background-image: linear-gradient(to bottom, #20d4d4, #66bfbf);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
